#! /bin/zsh

#zmodload zsh/zprof  # uncomment here and the part at the end to check startup speed.

# load basic modules
autoload -Uz compinit bashcompinit colors
bashcompinit
colors

# import custom zshrc configs
# {{ .chezmoi.username }} crazy loading
for zshrc_config in ${ZDOTDIR}/config.d/*.zsh; do
    source "$zshrc_config"
done

# only check cached .zcompdump file once a day
# see https://gist.github.com/ctechols/ca1035271ad134841284
if [[ -n ${ZDOTDIR}/.zcompdump(#qN.mh+24) ]]; then
  compinit;
else
  compinit -C;
fi;

# add autocomplete for aliases
compdef g=git iosc=osc cm=chezmoi

# set zsh usage options
setopt always_to_end # move cursor to end if word had one match
setopt append_history
setopt auto_list # automatically list choices on ambiguous completion
setopt auto_menu # automatically use menu completion
setopt auto_pushd
setopt autocd
setopt completeinword  # tab-complete while cursor is in word
setopt extendedglob  # use nice things like exceptions in globs: `git add */*.txt~*/secret.txt`
setopt globdots  # match dotfiles
setopt interactivecomments  # alows to coment out stuff directy in terminal
setopt no_complete_aliases # https://superuser.com/a/445491
                           # this ACTIVATES alias completion. I know that it looks wrong

setopt extended_history  # record timestamp of command in HISTFILE
setopt share_history  # share history between different instances of the shell
setopt hist_find_no_dups
setopt hist_ignore_all_dups  # remove older duplicate entries from history
setopt hist_ignore_space  # ignore commands that start with space
setopt hist_reduce_blanks  # remove superfluous blanks from history items
setopt hist_expire_dups_first # delete duplicates first when HISTFILE size exceeds HISTSIZE

setopt nobeep  # no beeps
setopt prompt_subst
setopt pushd_ignore_dups

# autocompletion
# See http://zsh.sourceforge.net/Doc/Release/Style-and-Tag-Index.html for more information
# TODO: check if styles make sense and change them otherwise
zstyle ':completion:*'                           matcher-list 'm:{a-z}={A-Z}'  # also match uppercase with lowercase
zstyle ':completion:*'                           menu select  # select completions with arrow keys
zstyle ':completion:*'                           list-colors "${(s.:.)LS_COLORS}"  # complete files/dirs with colors
zstyle ':completion:*'                           extra-verbose true  # Enable verbose completions (similar to fish shell)
zstyle ':completion:*'                           verbose true  # provide verbose completion information
zstyle ':completion:*:-command-:*:'              verbose true  # Enable command descriptions. Disable if too slow
# partial completion suggestions: `cd Do/pe` + [TAB] -> Documents/personal
# See https://scriptingosx.com/2019/07/moving-to-zsh-part-5-completions/
zstyle ':completion:*'                            list-suffixes
zstyle ':completion:*'                            expand prefix suffix
# group results by category
zstyle ':completion:*:matches'                    group 'yes'
zstyle ':completion:*'                            group-name ''
zstyle ':completion:::::'                         completer _expand _complete _approximate
zstyle ':completion:*:options'                    description 'yes'  # describe options in full
zstyle ':completion:*:processes'                  command 'ps -au$USER'  # on processes completion complete all user processes
zstyle -e ':completion:*:approximate:*'           max-errors 'reply=($((($#PREFIX+$#SUFFIX)/4))numeric)'  # autocorrect based on input length
zstyle ':completion:*:messages'                   format '%d'  # format messages?
zstyle ':completion:*:*:-subscript-:*'            tag-order indexes parameters  # offer indexes before parameters in subscripts
zstyle ':completion::(^approximate*):*:functions' ignored-patterns '_*'  # Ignore completion functions for commands you don't have
zstyle ':completion:*:processes-names'            command 'ps c -u ${USER} -o command | uniq'  # Provide more processes in completion of programs like killall
zstyle ':completion:*:sudo:*'                     command-path /usr/local/sbin /usr/local/bin /usr/sbin /usr/bin /sbin /bin  # Search path for sudo completion
zstyle ':completion:*'                            use-cache yes  # use cache to speed up completions
zstyle ':completion:*:complete:*'                 cache-path "$XDG_CACHE_HOME"

#zstyle ':completion:*:warnings'                  format $'%{\e[0;31m%}No matches for:%{\e[0m%} %d'  # set format for warnings
#zstyle ':completion:*:default'                   list-colors ${(s.:.)LS_COLORS}  # activate color-completion
# manage descriptions
zstyle ':completion:*:options'                    auto-description '%d'
zstyle ':completion:*:descriptions'               format $'%{\e[0;31m%}%B%d%b%{\e[0m%}'  # add completion descriptions. Put custom text between "%}" and "%B"
# start menu completion only if it could find no unambiguous initial string
zstyle ':completion:*:correct:*'                  insert-unambiguous true
zstyle ':completion:*:correct:*'                  original true
zstyle ':completion:*:corrections'                format $'%{\e[0;31m%}%d (errors: %e)%{\e[0m%}'
# insert all expansions for expand completer
zstyle ':completion:*:expand:*'                   tag-order all-expansions
# activate menu
zstyle ':completion:*:history-words'              list false
zstyle ':completion:*:history-words'              menu yes
# complete manual by their section
zstyle ':completion:*:manuals.*'                  insert-sections   true
zstyle ':completion:*:manuals'                    separate-sections true
zstyle ':completion:*:man:*'                      menu yes select
# determine in which order the names (files) should be listed and completed when using menu completion.
# `size' to sort them by the size of the file
# `links' to sort them by the number of links to the file
# `modification' or `time' or `date' to sort them by the last modification time
# `access' to sort them by the last access time
# `inode' or `change' to sort them by the last inode change time
# `reverse' to sort in decreasing order
# If the style is set to any other value, or is unset, files will be
# sorted alphabetically by name.
zstyle ':completion:*'                            file-sort name


kitty + complete setup zsh | source /dev/stdin

# set colortheme
(cat ~/.cache/wal/sequences &)

# set ls colors
#[[ $(command -v dircolors) ]] && eval $(dircolors -b)

# use .alias file
[[ -s "$HOME/.alias" ]] && source "$HOME/.alias"

# load thefuck 
eval "$(thefuck --alias fuck)"

# dynamic load antibody plugins
#source <(antibody init)
#antibody bundle < ~/.config/zsh/.zsh_plugins
# static load antibody plugins
source "$ZDOTDIR/.zsh_plugins.sh"

# enable pipx completions
eval "$(register-python-argcomplete pipx)"

# enable fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# enable dephell autocomplete
source "/home/mrey/.local/share/dephell/_dephell_zsh_autocomplete"

# use rvm to set ruby version
#[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

# load nvm
#[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
#[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

#zprof  # uncomment this and part at the beginning to check startup speed 

# vim:filetype=zsh expandtab shiftwidth=4
