# output notification on main display
output={{ .monitor_work }}

#display notification for 10s -> 10000ms
default-timeout=10000

# programs can't set custom timeout for their notification
ignore-timeout=1

# display it on top of everything
layer=overlay

anchor=top-right
max-visible=1
actions=1
icons=1
markup=1

# gruvbox theme
background-color=#665C54
text-color=#FBF1C7
width=315
height=105
margin=10
padding=15
border-size=5
border-radius=0
border-color=#928374
#progress-color=source #60606080

icon-path=/usr/share/icons/Adwaita
max-icon-size=100

[urgency=high]
ignore-timeout=1
